In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [2]:
weather_data = pd.read_csv('NYC_2000s.csv')

In [3]:
weather_data.columns

Index(['STATION', 'NAME', 'LATITUDE', 'LONGITUDE', 'ELEVATION', 'DATE', 'DAPR',
       'MDPR', 'PRCP', 'SNOW', 'SNWD', 'TAVG', 'TMAX', 'TMIN', 'WT01', 'WT02',
       'WT03', 'WT04', 'WT05', 'WT06', 'WT07', 'WT08', 'WT09', 'WT11', 'WT13',
       'WT14', 'WT15', 'WT16', 'WT17', 'WT18', 'WT19', 'WT22'],
      dtype='object')

In [4]:
weather_df=weather_data.drop(['TAVG','SNWD','STATION', 'NAME', 'LATITUDE', 'LONGITUDE', 'ELEVATION','DAPR','MDPR','WT01', 'WT02','WT03', 'WT04', 'WT05', 'WT06', 'WT07', 'WT08', 'WT09', 'WT11', 'WT13','WT14', 'WT15', 'WT16', 'WT17', 'WT18', 'WT19', 'WT22'], axis=1)

In [5]:
weather_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7881 entries, 0 to 7880
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   DATE    7881 non-null   object
 1   PRCP    7842 non-null   float64
 2   SNOW    7504 non-null   float64
 3   TMAX    7498 non-null   float64
 4   TMIN    7498 non-null   float64
dtypes: float64(4), object(1)
memory usage: 308.0+ KB

In [6]:
nyc=weather_df.dropna()

In [7]:
nyc

           DATE  PRCP  SNOW  TMAX  TMIN
0      1/1/2000   0.0   0.0  10.0   1.1
1      1/2/2000   0.0   0.0  15.6   6.1
2      1/3/2000   0.0   0.0  17.8  10.6
3      1/4/2000  17.8   0.0  15.6   7.8
4      1/5/2000   0.0   0.0   8.3  -1.7
...         ...   ...   ...   ...   ...
7493   7/7/2020   0.0   0.0  27.8  22.2
7494   7/8/2020   0.5   0.0  28.3  23.9
7495   7/9/2020   0.0   0.0  31.7  23.9
7496  7/10/2020  64.5   0.0  25.0  22.8
7497  7/11/2020  19.3   0.0  28.3  22.2

[7497 rows x 5 columns]

In [8]:
nyc['AVG_Temp']=(nyc['TMAX']+nyc['TMIN'])/2

c:\users\user\anaconda3\envs\pythonadv\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [9]:
nyc

           DATE  PRCP  SNOW  TMAX  TMIN  AVG_Temp
0      1/1/2000   0.0   0.0  10.0   1.1      5.55
1      1/2/2000   0.0   0.0  15.6   6.1     10.85
2      1/3/2000   0.0   0.0  17.8  10.6     14.20
3      1/4/2000  17.8   0.0  15.6   7.8     11.70
4      1/5/2000   0.0   0.0   8.3  -1.7      3.30
...         ...   ...   ...   ...   ...       ...
7493   7/7/2020   0.0   0.0  27.8  22.2     25.00
7494   7/8/2020   0.5   0.0  28.3  23.9     26.10
7495   7/9/2020   0.0   0.0  31.7  23.9     27.80
7496  7/10/2020  64.5   0.0  25.0  22.8     23.90
7497  7/11/2020  19.3   0.0  28.3  22.2     25.25

[7497 rows x 6 columns]

In [10]:
nyc.to_csv('nyc_data.csv', index=False)